<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login_validation">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_validation">
        <activity android:name=".forgroundservice.Calculation_Aidl"
            android:exported="false"/>
        <activity android:name=".boundedService.BoundService"
            android:exported="false"/>
        <activity android:name=".forgroundservice.ForgroundService"
            android:exported="false"/>
        <activity android:name=".Service"
            android:exported="false"/>

        <activity
            android:name=".logout"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".boundedService.MyService"/>
        <service android:name=".forgroundservice.StartService"/>

    </application>


</manifest>